* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#000000 50%, #011627);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*------> CONTENEDDR DE TODOS LOS COMPONENETES DEL CURRICUL VITAE <-------*/
#contenedor-principal {
    width: 80%;
    min-height: 95vh;
    display: grid;
    grid-template-rows: 40% 5% 55%;
}


/*------> CABECERA DEL CURRICULUM VITAE <-------*/
#contenedor-cabecera {
    background: url(./img/small_rostro.jpg) no-repeat;
    background-size: cover;
    background-position: top left;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*DIV contenedor del nombre y redes de contacto*/
.cabecera-cv_contacto {
    width: 50%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*estilos aplicados al nombre puesto en la cabecera*/
.cv-contacto_nombre {
    width: 100%;
    height: 50%;
    color: #F6F7F8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-family: 'Poppins', sans-serif;
    animation: cvNombre 1 6s linear;
}

/*estilos aplicados a las a las redes dispuestos bajo el nombre de la cabecera*/
.cabecera-cv_contacto ul {
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.cv-contacto_red {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cv-contacto_red a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #F6F7F8;
    transition: background-color 2s, border-radius 800ms;
}
.cv-contacto_red a:hover {
    cursor: pointer;
    color: #2EC4B6;
    animation: rotar 1 1s linear;
}


/*------> CONTENEDDR DE LA BARRA NAVEGADORA DEL CURRICULUM VITAE <-------*/
#contenedor-navegador {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.navegador-cv_bars {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0.2em;
}
/*BOTONES DE NAVEGACION EN UN LAYOUT MAYOR 992PX*/
.navegador-cv_botones {
    background: #f6f7f8ed;
    width: 100%;
    height: 100%;
    display: none;
    align-self: center;
}
.navegador-cv_botones ul {
    width: 100%;
    height: 80%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.navegador-cv_botones ul button {
    background: none;
    border: none;
    color: #011627;
    font-size: 1em;
}

.navegador-cv_botones ul button:hover {
    cursor: pointer;
    animation: sacudir 3 200ms linear;
}
.navegador-cv_botones ul button i {
    pointer-events: none;
}

/*estilos aplicados al boton que despliega el menu que permite navegar el CV*/
.navegador-cv_bars button {
    background: none;
    border: none;
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-bars {
    color: #FF3366;
    font-size: 1.4em;
}

/*-------> contenedor del menu desplegables  del CV<-------*/
#cv-bars_lista {
    background: #F6F7F8;
    width: 72%;
    height: 52.2%;
    position: absolute;
    left: 14%;
    top: 45.3%;
    padding: 1em;
    display: none; /*cambiar a flex*/
    justify-content: center;
}
.lista-opciones {
    width: 80%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.opciones-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opciones-item a {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #011627;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    text-transform: uppercase;
}


/*-------> CONTENEDOR GENERAL DE LA INFORMACION ACERCA DEL POSTULANTE <-------*/
#contenedor-informacion {
    background: #F6F7F8;
    width: 90%;
    height: 100%;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

/*caracteristicas generales aplicadas  al contenedor de la informacion*/
.contenedor-general {
    width: 96%;
    height: 96%;
    animation: deslizarFicha 1 500ms linear;
}

/*estilos aplicado al titulo de cada ficha de informacion*/
.contenedor-general_titulo {
    height: 100%;
    color: #011627;
    display: flex;
    align-items: center;
    font-size: 1.4em;
    font-family: 'PT Sans', sans-serif;
    font-weight: 100;
}

.contenedor-general_titulo .fa-solid {
    padding-right: 0.2em;
    font-size: 1em;
    display: flex;
    align-items: center;
    color: #2EC4B6;
}


/*-------> PRIMERA FICHA QUE CONTIENE UN RESUMEN ACERCAS DE LOS ASPECTOS GENERALES DEL POSTULANTE <-------*/
#informar-texto {
    display: grid;
    grid-template-rows: 20% 80%;
}
#informar-texto p {
    color: #011627;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 100;
}

/*-------> SEGUNDA FICHA QUE CONTIENE LOS DATOS PERSONALES DEL POSTULANTE <-------*/
/*estilos generales aplicados a la ficha que contiene los datos personales del postulante*/
#informar-datos {
    display: none;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 100%;
}
/*seccion contenedora de cada dato, dispuesto en dos columna y tres filas diferentes*/
#informar-datos section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(3 * 25%);
    justify-content: space-evenly;
    row-gap: 0.5em;
    padding: 0.8em 0;
}
.informacion-personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
}
.informacion-personal .fa-solid {
    padding-right: 0.4em;
    font-size: 0.9em;
}
.informacion-personal h4 {
    color: #011627;
    font-family: 'PT Sans', sans-serif;
    font-weight: 100;
    font-size: 1em;
}
.informacion-personal h4 .fa-solid {
    color: #FF3366;
}
.informacion-personal p {
    color: #011627;
    display: flex;
    padding-left: 1.4em;
    font-size: 0.8em;
    font-family: 'PT Sans', sans-serif;
    font-weight: 100;
}

/*contenedor inferior de la ficha de datos, que dispone del boton para acceder al formulario de contacto*/
.derecho-informar_boton {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* boton que muestra el formulario */
#mostrar_formulario {
    background: #011627;
    width: 100%;
    height: 100%;
    color: #F6F7F8;
    border: none;
}
#mostrar_formulario:hover {
    cursor: pointer;
}
/*FORMULARIO DE CONTACTO*/
#formulario_contacto {
    background: #011627f1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    display: none;
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
}
.formulario-cerrar {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario-cerrar button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}
.fa-x {
    color: #2EC4B6;
    font-size: 1.8em;
    font-weight: 100;
}
/*CAJA DEL FORMULARIO QUE CONTIENE LOS CAMPOS DE INGRESO DE DATOS PARA CONTACTAR*/
.formulario {
    background: #011627;
    width: 50%;
    height: 90%;
    display: grid;
    grid-template-rows: 10% 90%;
    flex-direction: column;
    justify-self: center;
    padding: 1em;
}
.formulario .leyenda {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F6F7F8;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 100;
}
.formulario form {
    background: #011627;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.indicador p{
    color: #587291;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 100;
    border-bottom: #587291 solid 0.04em;
    padding-bottom: 0.2em;
}
/* remueve el color del fondo al autocompletar y cambia el color de la fuente, que vienen definidos por la web */
.indicador input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #011627 inset;
}

.indicador input:-webkit-autofill {
    -webkit-text-fill-color: #F6F7F8;
}
.indicador input {
    width: 100%;
    height: 60%;
    padding: 0.2em;
    background: none;
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    font-weight: 100;
    color: #F6F7F8;
}
.indicador textarea {
    background: none;
    border: none;
    color: #f6f7f8;
    width: 100%;
}
.enviar-boton {
    background: #FF3366;
    width: 100%;
    height: 8%;
}
.enviar-boton input {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    color: #F6F7F8;
    font-family: 'PT Sans', sans-serif;
    transition: font-size 600ms;
}
.enviar-boton input:hover {
    cursor: pointer;
    font-size: 0.9em;
}

/*-------> TERCERA FICHA DE INFORMACION DE HABILIDADES DEL POSTULANTE <-------*/
#informar-habilidades {
    display: none;
    grid-template-rows: 15% 85%;
    grid-template-columns: 100%;
}
.contenedor-habilidades {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(3 * 33.33%);
    justify-content: space-evenly;
}
.contenedor-habilidades_item {
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
    align-self: center;
    padding: 0.4em;
}
.contenedor-habilidades_item p {
    width: 100%;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.82em;
    color: #011627;
}

.fa-check {
    color: #FF3366;
    font-weight: 600;
}
.habilidades-item_barra {
    width: 90%;
    height: 100%;
    display: flex;
    justify-self: center;
 }
 .barra-relleno_uno {
    background: #587291;
    width: 90%;
    height: 100%;
    animation: rellenar 1 5s linear;
 }
 .barra-relleno_dos {
    background: #587291;
    width: 70%;
    height: 100%;
    animation: rellenar 1 5s linear;
 }
 .barra-relleno_tres {
    background: #587291;
    width: 82%;
    height: 100%;
    animation: rellenar 1 5s linear;
 }
 .barra-relleno_cuatro {

    background: #587291;
    width: 85%;
    height: 100%;
    animation: rellenar 1 5s linear;
 }
 .barra-relleno_cinco {
    background: #587291;
    width: 60%;
    height: 100%;
    animation: rellenar 1 3s linear;
 }
 

/*-------> CUARTA FICHA QUE CONTIENE LOS DATOS DE EXPERIENCIA LABORAL DEL POSTULANTE <-------*/
#informar-experiencia {
    display: none;
    grid-template-rows: 15% 85%;
    grid-template-columns: 100%;
}

.contenedor-general_experiencia {
    display: grid;
    grid-template-rows: 10% 90%;
}
.seleccionar-anio {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.seleccionar-anio div {
    background: #011627;
    width: 30%;
    height: 75%;
    display: flex;
    align-content: center;
}
.seleccionar-anio div button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8em;
    color: #F6F7F8;
}
.seleccionar-anio div button:hover {
    cursor: pointer;
}
#mostrar-experiencia_decadaUno, #mostrar-experiencia_decadaDos, #mostrar-experiencia_decadaTres {
    width: 100%;
    height: 100%;
    display: none;
    grid-template-rows: 44% 44%;
    grid-template-columns: 95%;
    align-content: space-evenly;
    justify-content: center;
    animation: deslizarFicha 1 1s linear;
}

.mostrar-empleo {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}
.mostrar-empleo_anio {
    background: #FF3366;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mostrar-empleo_anio span {
    font-size: 0.8em;
    font-family: 'PT Sans', sans-serif;
    color: #F6F7F8;
    font-weight: 600;
}

.mostrar-empleo_lugarPuestoDescripcion {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 100%;
    padding: 0.3em;
}
.mostrar-empleo_lugarPuestoDescripcion h5 {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    color: #011627;
}
.mostrar-empleo_lugarPuestoDescripcion p {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8em;
    color: #011627;
}



/* --------> ANIMACIONES <-------- */
@keyframes cvNombre {
    0% {
        transform: scale(0.5);
        opacity: 0.3;
    }
    50% {
        transform: scaleX(1.2);
        opacity: 0.9;
    }
}

@keyframes aparecer {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.7;
    }
}

@keyframes rellenar {
    0% {
        width: 0%;
        opacity: 0.2;
        background: #587291f1;
    }
    50% {
        width: 100%;
        opacity: 0.6;
        background: #587291;
    }
}

@keyframes deslizarFicha {
    0% {
        opacity: 0.4;
        translate: -30px;
    }
    50% {
        opacity: 0.7;
        translate: -15px;
    }
    70% {
        opacity: 0.9;
        translate: -5px;
    }
}

@keyframes rotar {
    30%{
        transform: rotateY(90deg);
    }
    50%{
        transform: rotateY(180deg);
    }
}

@keyframes sacudir {
    0% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
}


/* --------> BREAKPOINTS >=992/ >=1200px <-------- */

/*CONTENEDOR PADRE*/
@media screen and (min-width: 992px) {
    #contenedor-principal {
        min-height: 90vh;
        display: grid;
        grid-template-columns: 30% 5% 65%;
        grid-template-rows: 100%;
    }
}
@media screen and (min-width: 1200px) {
    #contenedor-principal {
        grid-template-columns: 40% 5% 60%;
        grid-template-rows: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .navegador-cv_botones ul {
        height: 40%;
    }
}

/*contenedor izquierdo, PORTADA*/
@media screen and (min-width: 992px) {
    #contenedor-cabecera {
        background: url(./img/medium_rostro.jpg) no-repeat;
        background-position: top left;
        align-items: end;
    }
}
@media screen and (min-width: 1200px) {
    #contenedor-cabecera {
        background: url(./img/big_rostro.jpg) no-repeat;
    }
}

@media screen and (min-width: 992px) {
    .cabecera-cv_contacto {
        width: 70%;
        height: 20%;
        margin-bottom: 2em;
    }
}
@media screen and (min-width: 1200px) {
    .cabecera-cv_contacto {
        margin-left: -2em;        
    }
}

@media screen and (min-width: 992px) {
    .cv-contacto_nombre {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 1200px) {
    .cv-contacto_nombre {
        font-size: 2.2em;
    }
}

@media screen and (min-width: 992px) {
    .cabecera-cv_contacto {
        height: 12%;
    }
}
@media screen and (min-width: 1200px) {
    .cabecera-cv_contacto {
        height: 15%;
    }
}

@media screen and (min-width: 992px) {
    .cabecera-cv_contacto ul {
        width: 38%;
        height: 22%;
    }
}
@media screen and (min-width: 1200px) {
    .cabecera-cv_contacto ul {
        width: 30%;
        height: 22%;
    }
}

@media screen and (min-width: 992px) {
    #contenedor-navegador{
        height: 90%;
        align-self: center;
        margin-left: -10px;
    }
}
@media screen and (min-width: 1200px) {
    #contenedor-navegador{
        margin-left: -35px;
        height: 80%;
    }
}


/*barra de navegacion BOTONES*/
@media screen and (min-width: 992px) {
    .navegador-cv_bars {
        display: none;
    }
    .navegador-cv_botones {
        display: flex;
    }
}

@media screen and (min-width: 992px) {
    .navegador-cv_botones ul button  {
        font-size: 1.15em;
    }
}
@media screen and (min-width: 1200px) {
    .navegador-cv_botones ul button  {
        font-size: 1.2em;
    }
}

/*contenedor general de informacion y fichas*/
@media screen and (min-width: 992px) {
    #contenedor-informacion  {
        width: 100%;
        height: 90%;
        align-self: center;
        margin-left: -20px;
    }
}
@media screen and (min-width: 1200px) {
    #contenedor-informacion  {
        margin-left: -70px;
        height: 80%;
    }
}


@media screen and (min-width: 992px){
    .contenedor-general {
        width: 90%;
        height: 90%;
    }
}

@media screen and (min-width: 992px){
    .contenedor-general_titulo {
        font-size: 1.8em;
    }
}
@media screen and (min-width: 1200px){
    .contenedor-general_titulo {
        font-size: 2.3em;
    }
}

@media screen and (min-width: 992px){
    .contenedor-general_titulo .fa-solid {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 992px){
    #informar-texto p {
       font-size: 1.2em;
    }
}

/*ficha de Datos Personales*/
@media screen and (min-width: 992px){
    #informar-datos {
       grid-template-rows: 15% 75% 10%;
    }
}

@media screen and (min-width: 992px) {
    .informacion-personal h4 {
        font-size: 1.15em;
    }
}
@media screen and (min-width: 1200px) {
    .informacion-personal h4 {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 992px) {
    .informacion-personal h4 .fa-solid  {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 992px){
    .informacion-personal p {
       font-size: 1em;
    }
}
@media screen and (min-width: 1200px){
    .informacion-personal p {
       font-size: 1.3em;
    }
}
/*Formulario*/
@media screen and (min-width: 992px){
    #mostrar_formulario {
       width: 94%;
    }
}
@media screen and (min-width: 992px) {
    .fa-x {
        font-size: 2em;
    }   
}
@media screen and (min-width: 992px) {
    .formulario {
        width: 40%;
        height: 95%;
    }
}
@media screen and (min-width: 1200px) {
    .formulario {
        width: 30%;
        height: 95%;
    }
}

/*ficha Habiliddades*/
@media  screen and (min-width: 992px) {
    .contenedor-habilidades_item {
        grid-template-rows: 70% 30%;
        padding: 0.8em;
    }
}

@media  screen and (min-width: 992px) {
    .contenedor-habilidades_item p {
        font-size: 1em;
    }
}
@media  screen and (min-width: 1200px) {
    .contenedor-habilidades_item p {
        font-size: 1.1em;
    }
}

@media  screen and (min-width: 992px) {
    .habilidades-item_barra {
        height: 50%;
        align-self: flex-end;
     }
}

/*ficha Experiencia*/
@media screen and (min-width: 992px) {
    .mostrar-empleo_anio {
        height: 70%;
    }
}
@media screen and (min-width: 1200px) {
    .mostrar-empleo_anio {
        height: 80%;
    }
}

@media screen and (min-width: 992px) {
    .mostrar-empleo_lugarPuestoDescripcion h5 {
        font-size: 1em;
    }
}
@media screen and (min-width: 1200px) {
    .mostrar-empleo_lugarPuestoDescripcion h5 {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 992px) {
    .mostrar-empleo_lugarPuestoDescripcion p {
        font-size: 0.9em;
    }
}
@media screen and (min-width: 1200px) {
    .mostrar-empleo_lugarPuestoDescripcion p {
        font-size: 1em;
    }
}